# docker/docker-compose.yml

services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: orthoplex_app
    working_dir: /var/www/html
    volumes:
      - ../BackendChallenge:/var/www/html
    ports:
      - "8001:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
      mailpit:
        condition: service_started
    command: bash -c "sleep 10 && php artisan serve --host=0.0.0.0 --port=8000"

  db:
    image: mysql:8.0
    container_name: orthoplex_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 5s
      timeout: 5s
      retries: 10

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: orthoplex_phpmyadmin
    restart: unless-stopped
    ports:
      - "8082:80"
    environment:
      PMA_HOST: db
      PMA_USER: laravel
      PMA_PASSWORD: secret
      UPLOAD_LIMIT: 100M
    depends_on:
      db:
        condition: service_healthy

  redis:
    image: redis:7
    container_name: orthoplex_redis
    ports:
      - "6380:6379"

  mailpit:
    image: axllent/mailpit:latest
    container_name: orthoplex_mailpit
    ports:
      - "8025:8025"
      - "1025:1025"

volumes:
  dbdata:

